@import url('https://fonts.googleapis.com/css?family=Poiret+One');


.NotFoundWrapper {
    font-family: 'Poiret One', cursive;
    background-color: #edecec;
    padding: 5px 16px 2px;
    font-size: 28px;
    border: '1px solid black';
    width: 100%;
    height: 250px;
    text-align: center;
    padding: 30px;
    color: black;
    -moz-transition: all 3.25s ease-in;
    -o-transition: all 3.25s ease-in;
    -webkit-transition: all 3.25s ease-in;
    transition: all 3.25s ease-in;
}

.attentionSign span {
    font-size: 36px;
}