@import url('https://fonts.googleapis.com/css?family=Open+Sans');


.react-grid-HeaderCell{
      background-color: #ff6666;
      color: white;
      font-family: 'Open Sans', sans-serif;
      text-align: center;
}

.react-grid-Cell{
      text-align: center;
}

.TableDivHolder {
      border-top: 1px solid;
      overflow: hidden;
}