@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.titleContainer {
    font-family: 'Open Sans', sans-serif;
    background-color: #474747;
    color: white;
    padding: 5px 16px 2px;
    text-align: right;
    font-size: 24px;
    border-bottom: 1px solid green;
}



