@import url('https://fonts.googleapis.com/css?family=Crete+Round|Yantramanav');


.react-grid-HeaderCell{
      background-color: #ffe6aa;
      font-family: 'Yantramanav', sans-serif;
      text-align: center;
}

.react-grid-Cell{
      text-align: center;
}