.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #81a726;
}

input:focus + .slider {
  box-shadow: 0 0 1px #81a726;
}

input:checked + .slider:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}

.slider.round {
  border-radius: 28px;
}

.slider.round:before {
  border-radius: 50%;
}

.inputBoxWrapper {
    width: 100%;
    background-color: #edecec;
    text-align: right;
}

.innerWrapper {
    display: inline-flex;
}

.textLabel {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 15px;
    padding-top: 8px;
    margin-left:auto; margin-right:5px;
}

.toggleContainerLOU {
    padding: 3px;
}
